{% extends 'views/layout/default/basic.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/full_page_form.min.css') }}">
{% endblock %}

{% set bg =  url_for('.static', filename='img/'~img)  %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-sm d-none d-md-block bg-fp" style="background-image: url('{{bg}}')"></div>
            <div class="col-sm-12 col-md-5 col-lg-5 align-self-center">
                {% include "components/alert.html" %}
                <div class="text-center">
                    <h1 class="display-1 title">Shopped</h1>
                    <h3>{{ title }}</h3>
                </div>

                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
