// Your custom variables
@font-face {
  font-family: "Roboto Slab";
  src: url("../font/roboto_slab.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quiska";
  src: url("../font/quiska_personal_use_only.ttf") format("truetype");
}
