<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container-fluid m-0 pl-0 h-100">
        <div class="row h-100 align-items-center">
            <div class="col-sm d-none d-md-block bg-food">
                <div class="row align-items-center">
                    <div class="col">
                        <!--<h1 class="display-1 text-center">Shopped</h1>-->
                    </div>
                </div>
            </div>
            <div class="col-xsm-12 col-md-5 col-lg-5">
                <div class="container">
                    <div class="mb-5 text-center">
                        <h1 class="display-1 mb-0">Shopped</h1>
                        <h3>Sign In</h3>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
                    </div>
                    <div class="mb-3"><button class="btn py-2 w-100 btn-success text-white">Sign In</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>

</html>
