@import "../scss/functions";
@import "../scss/variables";

@import "../themes/light";

@font-face {
  font-family: "Roboto Slab";
  src: url("../font/roboto_slab.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quiska";
  src: url("../font/quiska_personal_use_only.ttf") format("truetype");
}

$sp-title: "Quiska";
$sp-header: "Roboto Slab";
$sp-text: "Open Sans";

html,
body {
  font-family: $sp-text, sans-serif !important;
}

.bg-food {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  .row {
    height: 100%;
  }
}

.title {
  font-family: $sp-title !important;
}
.display-1,
h1,
.display-2,
h2,
.display-3,
h3,
.display-4,
h4,
.display-5,
h5,
.display-6,
h6 {
  font-family: $sp-header;
}

.form-control {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@import "../scss/bootstrap.scss";
