{% extends 'views/layout/form/full_page.html' %}

{% block form %}
    <div class="px-lg-5 pt-0">
        <!-- Form -->
        <form class="text-center" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <!-- Email -->
            <div class="md-form">
                {{ form.email.label(class='form-control-label') }}
                {% if form.email.errors %}
                    {{ form.email(
                    class='is-invalid form-control',
                    required=false
                    ) }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control',required=false)}}
                {% endif %}
            </div>

            <!--Send Mail button -->
            {{ form.submit(class="btn btn-outline-amber btn-rounded btn-block my-4 waves-effect z-depth-0")}}


            <!-- Login -->
            <p>Have an account?
            <a href="{{ url_for('.login')}}">Log in</a>
            </p>

            <!-- Register -->
            <p>Not a member?
            <a href="{{ url_for('.register')}}">Register</a>
            </p>

        </form>
        <!-- Form -->
    </div>
{% endblock %}
