{% block recipe_list %}

<section class="details-card">

    <div class="container">
        <div class="row">

            <section class="details-card">

                <div class="container">
                    <div class="row">

                        {% for item in data recursive%}
                        <div class="card" style="margin:10px">

                            <!-- Card content -->
                            <div class="px-2 ">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src={{item.img_link}} alt="">
                                        <span><h4>{{item.data.name}}</h4></span>
                                    </div>
                                    <div class="card-desc">
                                        <p>{{item.data.description}}</p>
                                        {%- for ingre in item['items'] recursive%}
                                        <p>{{ ingre }}</p>
                                        {% endfor %}
                                        {%- for step in item['steps'] recursive%}
                                        <p >{{ step }}</p>
                                        {% endfor %}
                                        <p>By: {{item.author}}</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Card -->
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}